body{
	color: black;
	font-size: 12px;
	font-family: verdana, helvetica, arial, sans-serif;
	background: white;
}

#menu{
	color: black;
	position: absolute;
	right: 0px;
	top: 50px;
	height: 40px;
	width: 800px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	text-align: right;
}

#menu a{
}

#menu input{
	border: 1px solid black;
}

#content{
	position:absolute;
	left: 0px;
	top: 135px;
	width: 100%;
}

#left{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background: #E6E6E6;
	border: 1px solid black;
}

#left h3, h4{
	margin: 0px;
}

#left p, h4, h3{
	margin-left: 2em;
	margin-right: 2em;
}

#right{
	position: absolute;
	right: 1%;
	width: 19%;
	background: #E6E6E6;
	height: 575px;
	border: 1px solid black;
}

#flash{
	position: absolute;
	left: 0px;
	height: 20px;
	background: white;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	width: 100%;
}

.bill{
	border: 1px solid black;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	padding-top: 15px;
	background: #F2F2F2;
	margin-bottom: 1em;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

h1{
	font-family: Cambria;
	margin-left: 1em;
}